.full-height {
	height: 88vh;
}

.center-center {
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wide-width {
	width: 45vw;
}

.flex-space-between {
	justify-content: space-between;
}